.App {
  padding: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
}

.AppLogo {
  height: 25vmin;
  pointer-events: none;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2vh;
}

.TextArea {
  height: 40vh;
  width: 60vw;
  max-width:90vw;
  min-width: 30vw;
  min-height: 20vh;
}

.Button {
  width:10vw;
  height:5vh;
  font-size: 15px;
  border: none;
}

.Button:hover{
  background-color: cyan;
  transition-duration: 0.4s;
}

.Summary{
  background-color: #302e35;
  margin-top: 0;
  padding: 0 30px 30px 30px;
}