.Background {
  padding: 10vh;
  background-color: #1A1A1D;
  min-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.AppLogo {
  height: 15vmin;
  pointer-events: none;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.AppBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgray;
  gap: 2vh;
}

.TextArea {
  margin-top: 40px;
  height: 35vh;
  width: 45vw;
  max-width:90vw;
  min-width: 30vw;
  min-height: 20vh;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

.Button {
  width:10vw;
  height:5vh;
  font-size: 15px;
  border: none;
}

.Button:hover{
  background-color: cyan;
  transition-duration: 0.4s;
}

.Summary{
  background-color: #302e35;
  margin-top: 0;
  padding: 0 30px 30px 30px;
  animation: fadeIn ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

html {
  scroll-behavior: smooth;
}